.idea/
.vascode/
*.iml
cmake-build-*/
cmake-build-debug/
cmake-build-release/
build/

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
install_manifest.txt
compile_commands.json

build/
bin/
out/

*.o
*.obj
*.lo
*.a
*.so
*.so.*
*.out
*.exe

*.log
*.gdb
*.dSYM/

*.tmp
*.temp
*.swp
*.swo
*~

.DS_Store
Thumbs.db

*.wsl